// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
    h1 {
      margin-left: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      border: 2px solid #2A324B
    }
  
    table tr {
      border: 20px solid white;
    }

    table tr td {
      padding: 10px;
      vertical-align: top;
    }
    
    .list_image {
      width:  60px;
      height: 70px;
      border: 1px solid white;
    }
  
    .list_description {
      width: 60%;
  
      dl {
        margin: 0;
      }
  
      dt {
        color:        #2A324B;
        font-weight:  bold;
        font-size:    larger;
      }
  
      dd {
        margin: 0;
      }
    }
  
    .list_actions {
      font-size:    x-small;
      text-align:   right;
      padding-left: 1em;
    }
  
    .list_line_even {
      background:   #767B91;
    }
  
    .list_line_odd {
      background:   #C7CCDB;
    }
  }